html, body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Cako-Regular;
    src: url(../fonts/cako_font/cako_regular.ttf);
}
@font-face {
    font-family: SpaceMono;
    src: url(../fonts/space_mono_font/SpaceMono-Regular.ttf);
}
@font-face {
    font-family: Freizeit120;
    src: url(../fonts/freizeit120_font/Freizeit120-Medium.woff);
}
.alert_wrapper {
    background: #ffd565;
    color: #000;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: SpaceMono;
    padding: 18px;
}
nav {
    background: #e4ddcd;
    font-family: Freizeit120;
    text-transform: uppercase;
    height: 100px;
    font-size: 12px;
    padding: 10px 30px;
    
}
.menu {
    display: flex;
    justify-content: space-between;
}
.left_menu {
    display: flex;
    align-items: center;
}
.right_menu {
    display: flex;
    align-items: center;
}
.left_menu img {
    width: 125px;
}
.links {
    display: flex;
    align-items: center;
    height: 100%;
}
.links a {
    margin-left: 60px;
}
.right_menu button {
    text-transform: uppercase;
    font-family: Freizeit120;
    background: #000;
    color: #fff;
    font-size: 12px;
    padding: 12px 37px;
    border: 0;
    transition: .2s;
    border: solid 1px #868686;
    margin: 0 30px;
    border-radius: 2px;
}
.right_menu button:hover {
    background: #fff;
    outline: 3px solid #fff;
    color: #000;
}
.right_menu i {
    font-size: 2rem;
}
.first_section_wrapper {
    height: 95vh;
    background-image: url(/assets/img/backgrouond_1.webp);
}
.p {
    margin: 0;
    padding: 0;
}
.main_text {
    margin-left: 100px;
}
.main_text h1 {
    font-family: Cako-Regular;
    font-size: 80px;
    font-weight: 400;
    line-height: 85px;
}
.main_text p {
    font-family: SpaceMono;
    font-size: 1rem;
    margin: 25px 0;
}
.btn {
    text-transform: uppercase;
    font-family: SpaceMono;
    background: #000;
    color: #fff;
    font-size: 12px;
    padding: 12px 37px;
    border: 0;
    transition: .2s;
    border: solid 1px #868686;
    border-radius: 2px;
    cursor: pointer;
}

.btn:hover {
    background: #fff;
    outline: 3px solid #fff;
    color: #000;
}
.main_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: 100%;
}
.tradition_wrapper {
    background: rgba(18, 18, 18, 0.960);
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr 1fr;
}
.bottle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bottle img {
    height: 590px;
    margin-top: 15px;
}
.bottle p {
    font-family: Cako-Regular;
    font-size: 30px;
    color: #fff;
    margin-top: 15px;
}
.star {
    height: 21px !important;
}
.tradition_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tradition_text h2 {
    font-family: Cako-Regular;
    color: #fff;
    font-weight: 400;
    font-size: 60px;
    width: 400px;
    text-align: center;
    margin-top: 20px;
}
.spire_wrapper {
    width: 400px;
    font-family: SpaceMono;
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 10px;
    height: 2px;
    background-color: #fff;
}
.tradition_text p {
    font-family: SpaceMono;
    color: #fff;
    font-size: 16px;
    width: 400px;
    text-align: center;
    margin: 50px 0;
}
.learn_more {
    background: transparent;
}
.border {
    position: relative;
    padding-left: 10px;
}

.border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, #867d72, #867d72 10%, transparent 10%, transparent 90%, #867d72 90%);
}
.product_wrapper {
    background: #e4ddce;
    height: 110vh;
    overflow: hidden;
}
.featured {
    padding: 90px 0;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: SpaceMono;
    font-size: 15px;
    align-items: center;
}
.star_black {
    height: 25px;
    margin: 0 15px;
}

.marquee {
    width: 100%;
    color: transparent;
    font-family: Cako;
    font-size: 5.6vw;
    line-height: 1;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #B7ADA1;
    z-index: 1;
    text-transform: uppercase;
    transform: translate(0);
    white-space: nowrap;

}

.marquee.marquee-1 {
    top: 8vw;
    animation: marquee 40s linear infinite running;
}
.marquee:nth-child(2) {
    margin-top: 100px;
}

@keyframes marquee {
    0% {
        transform: translate(-100%);
    }

    100% {
        transform: translate(0);
    }
}


.marquee.marquee-2 {
    top: 8vw;
    animation: marquee2 40s linear infinite running;
}

@keyframes marquee2 {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-100%);
    }
}
.bottle_wrapper img {
    height: 900px;
}
.bottle_wrapper {
    position: absolute;
    left: 50%;
    margin-top: 100px;
    transform: translate(-50%, -50%);
}
.cocktails_wrapper {
    background-image: url(/assets/img/img_7.webp);
    height: 115vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cocktails_text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cako-Regular;
    font-size: 60px;
}
.cocktails_text h2 {
    font-weight: 400;
}
.cocktails_description {
    width: 540px;
    margin: 0 auto;
}
.cocktails_wrapper > p:nth-child(2) {
    margin-top: 35px;
    font-family: Cako-Regular;
    text-align: center;
    font-size: 30px;
}
.cocktails_wrapper > p:nth-child(3) {
    margin: 30px 0;
    font-family: SpaceMono;
    text-align: center;
}
.wheat_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
    background: #e4ddce;
}

.wheat_wrapper img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.wheat_middle_child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wheat_middle_child img{
    height: 25px;
    width: 25px;
}
.wheat_middle_child h3 {
    font-family: Cako-Regular;
    font-weight: 400;
    font-size: 30px;
    width: 440px;
    text-align: center;
    margin: 25px 0;
}
.wheat_middle_child button {
    margin-top: 30px;
}
.anthoro_wrapper {
    height: 100vh;
    background: #d2784e;
    overflow: hidden;
}
.anthoro_wrapper .marquee-1 {
    color: #000;
    -webkit-text-stroke-width: 0px;
    padding-top: 50px;
}
.anthoro_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.anthoro_container img {
    display: flex;
    justify-content: center;
    height: 850px;
    margin: 0 auto;
}
.anthoro_container div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.anthoro_container div:nth-child(2) img {
    height: 20px;
}
.anthoro_container div:nth-child(2) h3 {
    font-family: Cako-Regular;
    font-weight: 400;
    font-size: 34px;
    width: 440px;
    text-align: center;
    margin: 25px 0;
}
.anthoro_container div:nth-child(2) p {
    font-weight: 300;
    text-align: center;
    font-size: 16px;
    font-family: SpaceMono;
    padding: 0 300px;
    margin: 30px 0;
}
.team_wrapper {
    background: #e4ddcd;
    height: 30vh;
    display: grid;
    place-items: center;
}
.team_wrapper div {
    position: relative;
    font-family: Cako-Regular;
}
.team_wrapper div div img {
    margin-top: 25px;
    height: 20px;
}
.team_wrapper div div {
    text-align: center;
    color: #d2784e;
    font-size: 2rem;
    margin-bottom: 30px;
}
.team_member {
    display: inline;
    text-align: center;
    margin: 10px;
    transition: .2s;
    margin-top: 150px;
    top: 100px;
    text-transform: uppercase;
    font-size: 30px;
}

.team_member:before {
    transition: .2s;
    content: '';
    background-image: url(/assets/img/img_12.webp);
    background-position: center;
    background-size: cover;
    height: 60px;
    width: 60px;
    border-radius: 55555555px;
    position: absolute;
    bottom: 50px;
    opacity: 0;
    transition: opacity 0.3s ease;
    border: solid 2px #d2784e;
}

.team_member:hover::before {
    opacity: 1;
}
footer {
    background-image: url(/assets/img/footer_img.webp);
    background-size: cover;
    background-position: center;
    height: 80vh;
    padding-top: 40px;
}
.footer_content {
    padding: 60px 70px;
    background: #fffcf2;
    border: solid 1px #b7ada1;
    margin: 0 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer_left_wrapper h3 {
    font-weight: 400;
    font-family: Cako-Regular;
    font-size: 30px;
}
.footer_left_wrapper .bx {
    margin-top: 50px;
    font-size: 28px;
}
.footer_right_wrapper ul {
    list-style: none;
    font-family: SpaceMono;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.footer_right_wrapper ul:nth-child(1) {
    margin-right: 90px;
}
.footer_right_wrapper {
    display: flex;
}


.footer_right_wrapper ul li {
    margin-bottom: 28px;
    position: relative;
    cursor: pointer;
}

.footer_right_wrapper ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.footer_right_wrapper ul li:hover::after {
    transform: scaleX(1);
}
.footer_bottom_wrapper {
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 30px;
}
.footer_bottom_wrapper p {
    font-family: SpaceMono;
    color: #fff;
    
}
@media screen and (max-width: 768px) {
    .first_section_wrapper {
        height: 95vh;
        background-image: url(/assets/img//img_13.webp);
        background-size: cover;
    }
    .main_text {
        text-align: center;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
    }
    .main_text h1 {
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
        text-align: center;
        margin-top: 100px;
    }
    .main_text p {
        padding: 0 30px;
    }
    .tradition_wrapper {
        grid-template-columns: none;
        height: 100vh;
    }
    .bottle img {
        height: 300px;
        margin-top: 15px;
    }
    .bottle p {
        font-size: 25px;
    }
    .tradition_text h2 {
        font-size: 28px;
        width: 80vw;
    }
    .tradition_text p {
        font-size: 14px;
        width: 80vw;
    }
    .spire_wrapper {
        width: 80vw;
        font-family: SpaceMono;
        color: #fff;
        font-size: 15px;
        display: flex;
        align-items: center;
        margin-top: 30px;
    }
    .bottle_wrapper img {
        height: 620px;
        margin-top: 100px;
    }
    .featured {
        padding: 35px 0;
    }
    .marquee {
        font-size: 40px;
    }
    .product_wrapper {
        background: #e4ddce;
        height: 90vh;
        overflow: hidden;
    }
    .cocktails_wrapper {
        background: url(/assets/img/img_14.webp);
        background-size: cover;
    }
    .cocktails_text h2 {
        font-weight: 400;
        font-size: 45px;
    }
    .cocktails_wrapper>p:nth-child(2) {
        font-size: 20px;
        width: 350px;
    }
    .wheat_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .wheat_wrapper img {
        width: 100%;
        height: 33vh;
        object-fit: cover;
    }
    .wheat_middle_child img {
        height: 25px;
        width: 25px;
    }
    .wheat_middle_child img:nth-child(1) {
        margin-top: 20px;
        margin-bottom: -10px;
    }
    .wheat_middle_child img:nth-child(3) {
        margin-top: -10px;
        margin-bottom: -10px;
    }
    .wheat_middle_child h3 {
        
        font-size: 25px;
        padding: 0 30px;
        width: auto;
    }
    .wheat_middle_child button {
        margin-bottom: 30px;   
    }
    .anthoro_container img {
        height: 450px;
    }
    .anthoro_container {
        display: flex;
        flex-direction: column;
    }
    .anthoro_container div:nth-child(2) p {
        padding: 0 30px;
    }
    .team_member {
        top: 80px;
        font-size: 20px;
    }
    .team_wrapper div {
        text-align: center;
        padding: 0 20px;
    }
    .team_wrapper div div {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
    footer {
        height: 100vh;
    }
    .footer_content {
        padding: 30px 40px;
        margin: 0 30px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 420px;
        display: flex;
        flex-direction: column;
    }
    .footer_left_wrapper .bx {
        margin: 20px 0;
        font-size: 28px;
    }
    .footer_right_wrapper ul li {
        margin-bottom: 20px;
    }
    .footer_right_wrapper ul:nth-child(1) {
        margin: 0;
        padding: 0;
    }
    .footer_right_wrapper ul:nth-child(2) {
        margin-left: auto;
    }
    .footer_bottom_wrapper {
        font-size: 15px;
        padding-left: 10px;
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
        position: relative;
        width: 30px;
        height: 30px;
        margin-left: 15px;
    }
    .menu-toggle i {
        font-size: 2rem;
    }
    .menu-toggle:before,
    .menu-toggle:after {
        content: "";
        display: block;
        background-color: #000;
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        transition: transform 0.2s ease-in-out;
    }
    .menu-toggle:before {
        top: 8px;
    }

    .menu-toggle:after {
        top: 16px;
    }
    input[type="checkbox"]:checked~.menu-toggle:before {
        transform: translateY(0px) rotate(45deg);
    }

    input[type="checkbox"]:checked~.menu-toggle:after {
        transform: translateY(-8px) rotate(-45deg);
    }

    input[type="checkbox"]:checked~.menu-toggle i {
        color: #e4ddcd;
    }
    .links {
        display: none;
    }
}
.alert_wrapper {
    margin-top: -20px;
}
input[type="checkbox"] {
    display: none;
}
.bx-cart {
    margin-left: 20px;
}
header {
    position: sticky;
    top: 0;
    z-index: 999999999;
}